build --incompatible_enable_cc_toolchain_resolution

build:clang-format --aspects //:aspects.bzl%clang_format
build:clang-format --output_groups=report

build:clang-tidy --aspects //:aspects.bzl%clang_tidy
build:clang-tidy --output_groups=report

test --test_output=errors

try-import %workspace%/user.bazelrc
